:root {
    --brand-color: #013755;
}
form ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px 5px;
}

form ul li {    
  color: red;        
}




.navbar {
    background-color: var(--brand-color);
}

.btn-primary {
    background-color: var(--brand-color);
    border-color: var(--brand-color);
}

div.app-caption {
    padding: 25px 0px;    
    font-size: 3.0em;
    font-weight: bold;
    color: #6aacaf
}
body {
    padding-bottom: 40px;
}
